.jumbotron {
	background-image: url(http://f.pizzot.com/iphone/cb9412f6030124747313053d7a3d684d/Green-Grass-i.jpg);
	height: 480px;
}

a .1{
	font-size: 100px;
	font-color: "red";
}

div.jumbotron div.container .stuff{
	font-size: 200px;
	color: red;
}

