@font-face {
    font-family: 'armwrestlerbold';
    src: url('../fonts/armwrestler-webfont.eot') format ('eot');
    src: url('../fonts/armwrestler-webfont.eot?#iefix') format('embedded-opentype');
    src: url('../fonts/armwrestler-webfont.woff') format('woff');
    src: url('../fonts/armwrestler-webfont.ttf') format('truetype');
    src: url('../fonts/armwrestler-webfont.svg#armwrestlerbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


.jumbotron {
	background-position: 0px 40px;
	background-image: url(http://www.timbers.com/sites/portland/files/TimbersValencia.jpg);
	background-size: 1500px 700px;
	background-repeat: no-repeat;
	height: 550px;
}




.nav a {
	padding-top: 5px;
	font-size: 12px;
	font-weight: bold;
	color: #0052CC;
	text-decoration: none;
}

/* unvisited link */
.nav a:link {
    color: #0052CC;
}

/* visited link */
.nav a:visited {
    color: #777777;
}

/* mouse over link */
.nav a:hover {
    color: #6BB224;
}




div.jumbotron div.container h1 {
	font-family: "helvetica";
	font-style: bold;
	font-weight: bold;
	font-size: 90px;
	color: #EBEBEB;
	text-decoration: none;
	text-shadow: 1px 1px 60px #000000;
	padding-top: 10px;
	text-align: center;

}

div.jumbotron div.container h4 {
	color: #EBEBEB;
	text-shadow: 5px 5px 10px #000000;
	text-align: center;
}


div.jumbotron div.container h5 {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	color: #EBEBEB;
	width:70px;
	padding: 10px 70px 10px 40px;
	margin-right: 25px;
	border: 3px solid white;
}




.media p {
	font-weight: bold;
	display: inline-block;
	text-decoration: none;
}

/* unvisited link */
.media a:link {
	color: #0052CC;
}

/* visited link */
.media a:visited {
    color: #777777;
}

/* mouse over link */
.media a:hover {
    color: #6BB224;
}