{% extends "foundation.html" %}

{% block title %}SMS Sports Login{% endblock %}

{% block content %}
	{% if form.errors %}
		<p class="error">Sorry, either the username or password is incorrect</p>
	{% endif %}

	<div class="container login">
        <form class="form-signin .form-inline" role="form" action="/auth/" method="post">{% csrf_token %}
            <h2 class="form-signin-heading">Please sign in</h2>
            <label for="username" class="sr-only">Username</label>
            <input type="text" name="username" value="" id="username" class="form-control" placeholder="Username" required autofocus>
            <label for="password" class="sr-only">Password</label>
            <input type="password" name="password" value="" id="password" class="form-control" placeholder="Password" required>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit" value="login">Sign in</button>
        </form>
    </div>
{% endblock %}
